//COLORS
$color-white :       #FFF;
$color-black:        #000;
$color-primary :     #f3b200;
$color-secondary:    #463f38;
$success:            #43a854;
$warning:            #F03434;

$light-brown :       #9d9483;

$light-grey:         #ece8e5;
$color-grey:         #838383;
$pommegrate:         #f36f51;