h1{
  font-size: 40px;
  font-family: "Aileron";
  color: inherit;
  font-weight: bold;
  line-height: 1.2;
}
h2{
  font-size: 30px;
  font-family: "Aileron";
  color: inherit;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

p{
  font-size: 16px;
  font-family: $font-base;
  color: inherit;
  line-height: 1.5;
}