h1{
  font-family: $font-accent;
  font-weight: bold;
  color: inherit;
}
h2{
  font-family: $font-accent;
  font-weight: bold;
  color: inherit;
}
body{
    font-family: $font-base;
}
p{
  font-family: $font-base;
  color: inherit;
}