//BUTTONS
@mixin btn-style($btn-color){
    color: $btn-color;
    border-width: 1px;
    border-style: solid;
    border-color: $btn-color;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
        &:hover{
            background-color: $btn-color;
            color: $color-white;
        }
        &:active{
            background-color: $btn-color;
            color: $color-white;
        }
    }

.btn{
    margin: 15px 0px;
    padding: 15px 25px;
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}
.btn-yellow {
	@include btn-style($color-white);
    &:hover{
        color: $color-primary;
    }
}
.btn-brown{
    @include btn-style($color-secondary);
}
