.nav{
    background-color: #FFF;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    position: relative;
    z-index: 10;
    .logo{
        position: absolute;
    }
    .icon{
        max-width: 50px;
        float: left;
        height: 45px;
    }
    .menu-primary{
        & h1{
            font-size: 21px;
            font-family: "Avenir-Roman";
            font-weight: bolder;
            color: rgb(70, 63, 56);
            text-transform: uppercase;
            margin: 0;
        }
        & span{
            font-size: 16px;
            font-family: "Avenir-Roman";
            color: rgb(211, 203, 197);
            text-transform: uppercase;
        }
    }
    .nav-item,
    .nav-item--title{
        float:left;
    }
}

.nav-item--title{
    position: relative;
    &:after{
        transition: 0.26s cubic-bezier(0.69, 0.14, 0.05, 1.31);
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        display: block;
        background-color: white;
        height: 0;
        left: 0;
        width: 0;
    }
    &:hover:after{
        width: 30%;
        height: 2px;
    }
}
.nav-item:hover{
    transition: 0.26s cubic-bezier(0.69, 0.14, 0.05, 1.31);
    color: $color-white;
    background-color: darken($color-white, 10%);
}
/*
| ---------------------------------------------------------------
| Secondary menu for downloads and language
| ----------------------------------------------------------------
*/
.menu-secondary{
    position: absolute;
    right: 0;
    top: 0px;
    .menu-item{
        border: 1px solid $color-grey;
        color: $color-grey;
        border-top: none;
        font-size: 14px;
        font-family: "Avenir-Roman";
        &:first-child{
            border-right: none;
        }
        & a,i{
            color: inherit;
            vertical-align: text-top;
            white-space: nowrap;
            text-decoration: none;
        }
        &:hover{
            color: $color-white;
            background-color: $color-grey;
        }
    }
    .icon-small{
        max-width: 20px;
    }
}