/*
 | ----------------------------------------------------------------
 | Base settings
 | ----------------------------------------------------------------
 |
 | Afhankelijk van de fonts die je kiest kan je hieronder de font-size definiëren.
 | Zo ben je zeker van een deftige font-rendering.
 |
 */
    html{
      font-size: 16px;
    }
 /*
  | ----------------------------------------------------------------
  | Typography
  | ----------------------------------------------------------------
  |
  | Met google fonts kan je twee fonts inladen.
  | Best is dat je een serif en sans-serif font kiest.
  |
  */
    $font-base:     "Avenir"; // paragraphs, text, list items
    $font-accent:   "Aileron"; // headings
/*
 | ----------------------------------------------------------------
 | Border Radius
 | ----------------------------------------------------------------
 |
 | een border radius van minder dan 15px zal op ieder element mooi gerenderd worden.
 |
 */
    $default-border-radius: 30px;

/*
 | ----------------------------------------------------------------
 | Icons
 | ----------------------------------------------------------------
 |
 | Icon setup.
 |
 */
    $base-icon-size: 24px;

/*
 | ----------------------------------------------------------------
 | Btn Circular buttons
 | ----------------------------------------------------------------
 |
 | Icon setup.
 |
 */
    $btn-border-radius: 3rem;
    $circle-diameter: 1.5rem;

/*
 | ----------------------------------------------------------------
 | Transitions
 | ----------------------------------------------------------------
 |
 | Meestal gebruikt voor hover states e.d.
 |
 */
  $transition: 0.3s ease-in-out all;
  $bezier-transition: 0.26s cubic-bezier(0.69, 0.14, 0.05, 1.31);

/*
| ----------------------------------------------------------------
| General
| ----------------------------------------------------------------
|
| De browser-defaults bijsturen
|
*/
  img{
      line-height: 1; // de normalize.css geeft alle elementen een line-height van 1,5
  }

  ul{
      padding-left: 0; // de browser heeft een -webkit-padding-left: 40px;
  }
