//COLORS
$white : #FFF;
$black: #000;
$yellow : #f3b200;

$light-brown : #9d9483;
$dark-brown : #463f38;

$light-grey: #ece8e5;
$color-grey: #838383;
$green: #43a854;
$pommegrate: #f36f51;

h1{
  font-size: 40px;
  font-family: "Aileron";
  color: inherit;
  font-weight: bold;
  line-height: 1.2;
}
h2{
  font-size: 30px;
  font-family: "Aileron";
  color: inherit;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

p{
  font-size: 16px;
  font-family: "Avenir";
  color: inherit;
  line-height: 1.5;
}
.btn{
    margin: 15px 0px;
    padding: 15px 25px;
    cursor:pointer;
    display: inline-block;
}
.btn-yellow {
	@include btn-style($white);
    &:hover{
        color: $yellow;
    }
}
.btn-brown{
    @include btn-style($dark-brown);
}
